<a href="https://colab.research.google.com/github/ykkim77/python-4th-week/blob/main/python_programming_4th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

변수의 개념 및 사용
- 변수는 데이터를 저장하는 메모리 공간
- 변수의 데이터는 언제든 변경가능
- 변수명으로 키워드는 사용 불가
- 변수명은 숫자로 시작할수 없다.

파이썬 연산자 
- 연산자에는 산술연산자, 관계연산자, 논리연산자, 복합대입 연산자 등이 있다.
- 연산자 우선순위에 의해 연산이 수행된다.


학습목표
- 데이터타입의 개녕정의
- 숫자형을 이해하고 설명 할수 있다.
- 문자열 자료형을 이해하고 설명할수 있다.
- 리스트 자료형을 이해하고 설명할 수 있다.

1. 데이터타입의 개념
- 데이터를 저장하는 방식
- 변수의 데이터타입에 따라 데이터를 저장하는 방식이 각기 다름
- 데이터 타입에 대한 명시가 없어도 데이터 타입을 자동으로 할당한다.


데이터 타입의 종류
1. 숫자형: 1,2,3
2. 문자열 자료형 :"hello world"
3. 리스트 자료형 : [1,2,3,4,"영수","영자"]
4. 딕셔너리 자료형 : {"속성":"값", "name":"youngja"}
5. 집합자료형 : set([1,2,3,4,5])
6. 불 자료형: True or False

데이터타입의 사용방법
변수명 = 데이터입력
a=1             숫자형
b="python"      문자형
c=[1,2,3,4]     리스트형

파이썬에서 자동으로 할당

숫자형(Number)이란?
- 숫자 형태로 이루어진 자료형
<table>
<tr>
<td>
항목
</td>
<td>
파이썬 사용예
</td>
</tr>
<tr>
<td>
정수
</td>
<td>
123,-345,0
</td>
</tr>
<tr>
<td>
실수
</td>
<td>
123.45ㅡ -123.3 , 3.4ㄷ10
</td>
</tr>
<tr>
<td>
8진수
</td>
<td>
0o34, 0o25
</td>
</tr>
<tr>
<td>
16진수
</td>
<td>
0x2A, 0xFF
</td>
</tr>
</table>

- 정수형(Integer)
정수를 뜻하는 자료형
a=1
a=-127
a=0

- 실수형(Floating-point)
소수점이 포함된 숫자
a=1.2               a=4.24e10
a=-3.24             a-4.24e-10

- 8진수(Octal)
숫자 0+알파벳 소문자
o또는 대문자 O

- 16진수(Hexadecimal)
숫자 0 + 알파벳 소문자 x
a= 0x8ff
b- 0xABC

- 사칙연산이 포함된 숫자
a=3
b=4
a=a+b
//7

- ***연산자: 제곱
a=3
b-4
a**b
//81

- //연산자: 나눗셈 후 몫 반환
a=7//4
1

- %연산자: 나눗셈 후 나머지 반환
7%3
1

문자열(String)이란?

- 문자, 단어 등으로 구성된 문자들의 집합
"Life is short, You need Python"
"a"
"123"

문자열 만드는 방법
"Hello world"
'Hello world'
"""Hello world"""
'''Hello world'''


- 여러줄인 문자열을 변수에 대입하고 싶을때
- 이스케이프 코드 ₩n 삽입
- 작은 따옴표, 큰따옴표 3개를 사용하면 줄바꿈 자동인식

- 문자열 더해서 연결하기(Concatenation)
1. head = "python"
2. tail = " is fun!"
3. head+tail
"python is fun!"

- 문자열 곱하기
a = "python"
a*2
"pythonpython"

- 문자열 길이 구하기
1. 파이썬 내장 함수 len()
a= "Life is too short"
len(a)
17

- 문자열 인덱싱
가르킨다 라는 의미, 인덱스는 0부터 시작
a[인덱스 번호]: 문자열 안의 특정 값을 뽑아냄
a[-인덱스 번호]: 문자열 뒤부터 인덱스를 셈

- 슬라이싱(Slicing)
잘라낸다는 의미
a[시작번호: 끝번호]
시작번호부터 끝번호 전까지의 문자를 뽑아냄


- 문자열 Formatting
1. 숫자 바로 대입(문자열 format 코드 %d)
"I eat %d apples" %3
'I eat 3 apples'

1-1. number = 3
"I eat %d apples " %number
'I eat 3 apples'

2. 숫자 바로 대입(문자열 format 코드 %d)

2-2. 문자열 바로 대입(문자열 format 코드 %s)
"I eat %s apples" %"five"
'I eat five apples'

- 문자열 format 코드
%s
%c
%d
%f
%o
%x
%%

num = 10
day = "three"

"I ate %d apples. so I was sick for %s days"%(num, day)
'I ate 10 apples. so I was sick for three days'

- 문자열 format 코드 활용법
1. 정렬과 공백
%s 를 숫자와 함께 사용하면 공백과 정렬 표현 가능
"%10s"%"hi"
 = "           hi"

"%-10sjasne" %"hi"

"hi               jane"

2. 소수점 표현하기
- %f를 숫자화 함께 사용하면, 소수점 뒤에 나올 숫자의 개수 조절 및 정렬 가능
: "%0.4f" %3.42134234
= "3.42134"


3. f 문자열 formatting
- 파이썬 3.6버전 부터 f 문자열 format 기능 제공
- 문자열 앞에 f 접두사를 붙이면 f 문자열 format 기능 사용 가능

name="홍길동"
age=30
f'나의 이름은 {name} 입니다. 나이는 {age} 입니다.'
= '나의 이름은 홍길동 입니다. 나이는 30 입니다.'
f'나는 내년이면 {age+1}살이 된다.'
= '나는 내년이면 31살이 된다.'

문자열 자료형이 가진 내장 함수
1. count(): 문자 개수를 세는 함수
a="hobbby"
a.count('b')

2. join(): 문자열 삽입
",".join("abcd")
'a','b','c','d'

3. find(): 찾는 문자열이 처음 나온 위치를 반환
a="Pyhon is best choice"
a.find('b')
10

4. upper() 소문자를 대문자로/ lower(): 대문자를 소문자로
a="hi"
a.upper()
"HI"

b="HI"
a.lower()
"hi"


5. replace(): 문자열 안의 특정 다른 값으로 치환
- replace(바뀌게 될 문자열, 바꿀 문자열)

6. split(): 공백 또는 특정 문자열을 구분자로 해서 문자열 분리
a= "Life is too short"
a=split( )
['Life','is','too','short']

List 란?
- 자료형의 집합을 표현할 수 있는 자료형
odd=[1,3,5,7,9]

- 숫자와 문자열 만으로 프로그래밍 하기에는 부족한 점이 많음
- 기존에 데이터가 저장된 상황에서 특정 데이터를 추가, 삭제, 검색하기에 용이함

리스트 사용법
: 대괄호 로 감싸고 요솟값은 쉽표로 구분
a=[]
b=[1,2,3,4]
c=["Life","is"]
d=[1,2,"Life","is"]
e=[1,2,['life','is']]

리스트 인덱싱
문자열과 같이 인덱싱 적용 가능
리스트 a를 정의
a=[1,2,3]
a
[1,2,3]


a[-1]은 리스트 a 의 마지막 요솟값
a[-1]
3

더하기(+)
a=[1,2,3]
b=[4,5,6]
a+b
[1,2,3,4,5,6]

반복하기(*)
a=[1,2,3]
a*3
[1,2,3,1,2,3,1,2,3]


리스트 값 수정하기
a=[1,2,3]
a[2]=4
a
[1,2,4]

리스트 요소 삭제하기
a=[1,2,3]
del a[1]
[1,3]
a=[1,2,3,4,5]
del:a[2:]
a
[1,2]

리스트 관련 함수
append(): 리스트의 맨 마지막에 요소 추가
a=[1,2,3]
a.append(4)
[1,2,3,4]

index(): 요소를 검색하여 위치 값 반환

sort(): 리스트의 요소를 순서대로 정렬

reverse(): 리스트를 역순으로 뒤집어줌

insert(): 리스트에 요소 삽입

count(): 리스트에 포함된 요소의 개수 반환

remove(): 리스트에서 첫번째로 나오는 데이터를 삭제

extend(): 리스트에 리스트를 더하는 함수
a=[1,2,3]
a.extend(4,5)
a
[1,2,3,4,5]
b=[6,7]
a.extend(b)
a
[1,2,3,4,5,6,7]

# 숫자형 Data Type

**정수형 데이터 타입**

In [ ]:
a = 1    
print("a = ",a)
print(type(a))     # a의 data type을 확인해 보면, int type이라는 것을 확인할 수 있음
b = -178
print("b = ",b) 
print(type(b))     # b의 data type을 확인해 보면, int type이라는 것을 확인할 수 있음

a =  1
<class 'int'>
b =  -178
<class 'int'>

**실수형 데이터 타입**

In [ ]:
a = 1.2
print("a = ",a)       
print(type(a))           # a의 data type을 확인해 보면, float type이라는 것을 확인할 수 있음

b = 4.24E10
print("b = ",b)
print(type(b))          # b의 data type을 확인해 보면, float type이라는 것을 확인할 수 있음

a =  1.2
<class 'float'>
b =  42400000000.0
<class 'float'>

**8진수(octal)**

In [ ]:
a= 0x177            # a를 8진수로 입력
print(a)            # a를 10진수로 출력

b = 0x8ff          # b를 16진수로 입력
print(b)           # b를 10진수로 출력

375
2303

**사칙 연산이 포함된 숫자**

In [ ]:
a = 3
b = 4

print ("a+b = ",a+b)           # 더하기 연산
print ("a*b = ",a*b)           # 곱하기 연산
print ("a/b = ",a/b)           # 나누기 연산
print ("a**b = ",a**b)         # 누승 연산
print ("a//b = ",a//b)
print ("a%b = ",a%b)

a+b =  7
a*b =  12
a/b =  0.75
a**b =  81

# 문자열 자료형

문자열 자료형의 다양한 표현 방법

In [ ]:
print("Hello Wolrd")       # " " 큰 따옴표로 감싸는 문자열
print('Hello Wolrd')       # ' ' 작은 따옴표로 감싸는 문자열
print("""
      python is fun       
      """ )                # """ 큰 따옴표 3개로 감싸는 문자열
print('''
      Life is too short, You need python       
      ''' )                # ''' 작은 따옴표 3개로 감싸는 문자열

Hello Wolrd
Hello Wolrd

      python is fun


      Life is too short, You need python

**문자열에서 줄바꿈을 표현하는 방법**

In [ ]:
multiline = "Life is too short\n You need python"     # \n 기호는 줄바꿈을 의미한다.
print(multiline)
multiline = """
Life is too short
You need python
"""                                 # """ 기호는 문자열의 줄바꿈을 인식하여 데이터를 저장
print(multiline)
multiline = '''
Life is too short
You need python
'''                                 # ''' 기호는 문자열의 줄바꿈을 인식하여 데이터를 저장
print(multiline)

Life is too short
 You need python

Life is too short
You need python


Life is too short
You need python

**문자열 연산**

In [ ]:
head = "python"
tail = " is fun"

print(head + tail)    # 문자열 연결하기

print(head * 3)      # 문자열 곱하기

a = "life is too short"
len(a)                    # 문자열 길이 구하기

python is fun
pythonpythonpython

17

**문자열 인덱싱**

In [ ]:
a = "Life is tooshort, You need python"

print(a[0],a[1],a[2],a[3],a[4])  # 문자열의 인덱싱 접근

print(a[-1],a[-2])    # 문자열 인덱싱을 -1로 접근

print(a[0:4])    # 문자열 슬라이싱


a = "20010331Rainy"
print(a[:8])    #  처음부터 8 전까지의 문자열을 뽑아냄
print(a[8:])    #  8부터 끝까지의 문자열을 뽑아냄

L i f e
n o
Life
20010331
Rainy

**문자열 formatting**

In [ ]:
print("I eat %d apples"%3)    # %d는 10진수를 나타냄, 문자열 뒤에 숫자형 %3이 %d에 대치되어 표현
number = 3
print("I eat %d apples"%number)  # %d는 decimal을 의미한다. 문자열 뒤에 %number 숫자형 변수를 %d에 대입해 문자열에 숫자로 나타낼 때 쓰인다.

str_five = "five"

print("I eat %s apples"%str_five)   # %s 는 string을 의미한다. 문자열 뒤에 %str_five 문자열 변수를 넣어 문자열 안에 %s 에 대입되도록 한다.



num = 10
day = "three"

print("I ate %d apples, so I was sick for %s days."%(num,day))

I eat 3 apples
I eat 3 apples
I eat five apples
I ate 10 apples, so I was sick for three days.

**정렬과 공백**

In [ ]:
# %s를 숫자와 함께 사용하면, 공백과 정렬 표현 가능

print("%10s"%"hi")
print("%-10sjane"%"hi")

        hi
hi        jane

In [ ]:
# 소수점 표현하기 
print("%0.4f"% 3.42134234)      # 소수점 4자리까지 표현
print("%10.4f"% 3.42134234)      # 10개의 공간에 숫자를 표현, 소수점은 4자리까지 표현

3.4213
    3.4213

In [ ]:
name = '홍길동'
age = 30
print(f'나의 이름은 {name} 입니다. 나이는 {age+1} 입니다.')    # f 문자열 formatting

나의 이름은 홍길동 입니다. 나이는 31 입니다.

**문자열 자료형 관련 함수**

In [ ]:
a = 'hobby'     

a.count('b')    # count 함수

2

In [ ]:
','.join('1231414214513414a')   # join 함수수

'1,2,3,1,4,1,4,2,1,4,5,1,3,4,1,4,a'

In [ ]:
a = "python is best choice"

print(a.find('b'))       # b 의 위치를 반환
print(a.find('k'))       # k 의 위치를 반환, k의 위착 없으므로 -1이 반환됨됨

10
-1

In [ ]:
a = 'hi'

print(a.upper())   # 소문자를 대문자로 변환

b = 'HI'

print(b.lower())   # 대문자를 소문자로 변환

HI
hi

In [ ]:
a = "Life is too short"
a.replace("Life","Your leg")   # replace() 함수를 이용하여 특정 값을 다른 값으로 치환하기기

'Your leg is too short'

In [ ]:
a = "Life is too short"
print(a.split())    # 공백을 기준으로 문자열을 나눔

b = "a:b:c:d"
print(b.split(':')) # :기호를 기준으로 문자열을 나눔

# 리스트 자료형

**리스트 자료형의 정의**

In [ ]:
# 리스트 안에 어떠한 자료형도 포함 가능
a = []
b = [1,2,3,4]
c = ['Life','is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1,2,['Life', 'is']]

In [ ]:
e [2]      # 리스트는 인덱스를 통해 접근 가능함

['Life', 'is']

In [ ]:
d[-1]     # 인덱스 -1은 마지막 요솟값을 가르킴

'is'

In [ ]:
b[0] + b[2]     # 리스트 요솟값 간의 덧셈셈

4

In [ ]:
print(b+c)    # 리스트 합치기
print(b*2)    # 리스트 반복

[1, 2, 3, 4, 'Life', 'is', 'too', 'short']
[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
b[0] = 100    # 리스트 요소값을 수정하기
print(b)

[100, 2, 3, 4]

In [ ]:
del b[3]     # del 키워드로 리스트 요소 삭제하기기

In [ ]:
b.append(50)   # append 내장함수로 리스트 맨 마지막에 50을 추가
b

[100, 2, 3, 50]

In [ ]:
b.index(50)    # 요소를 검색하여 위치를 반환

3

In [ ]:
b.sort()      # 리스트의 요소를 순서대로 정렬.sort()      # 리스트의 요소를 순서대로 정렬
b

[2, 3, 50, 100]

In [ ]:
b.reverse()     # 리스트를 역순으로 뒤집어줌
b

[100, 50, 3, 2]

In [ ]:
b.insert(1,4)      # 리스트에 요소 삽입,   인덱스 1 자리에 4를 삽입
b

[100, 4, 50, 3, 2]

In [ ]:
b.remove(100)   # 리스트에서 첫번째로 나오는 데이터를 삭제
b

[4, 50, 3, 2]

In [ ]:
b.extend([5,6,7,8,])   # 리스트 확장하기
b

[4, 50, 3, 2, 5, 6, 7, 8]