<a href="https://colab.research.google.com/github/ykkim77/python_5th_week/blob/main/python_programming_5th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플 자료형

<!-- 복습 -->
숫자 자료형: 정수 실수 8진수 16진수
문열 자료형: 큰따옴표와 작은 따옴표로 표시, 기본적인 함수가 내장되어 문자열 조작이 가능하다.
리스트 자료형: [data1, data2...]
- 리스트를 이용해 삽입, 삭제, 검색이 가능. 기본적인 내장함수가 저장 되어 있음.

튜플 자료형
- 리스트와 유사한 자료형
1. 리스트:
- 대괄호로 둘러쌈
- 생성/삭제/수정 가능

2. 튜플
- 소괄호로 둘러쌈
- 값 변경 불가능
ex) t1= ()
t2=(1,)
t3=(1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

- 튜플은 1개의 요소만을 가질때는 요소뒤에 콤마(,)를 반드시 붙여야 한다.
t2=(1,)

- 괄호를 생략해도 무방하다.


프로그램이 실행되는 동안 값을 유지해야 한다면 튜플을, 수시로 값을 변경해야 하면 리스트를 사용.
값 변경의 여지가 남아있다면 리스트로 사용.

- 튜플의 요솟값을 지우면 어떻게 될까?
- 튜플의 요솟값은 한번 정하면 지우거나 변경할 수 없다.

In [ ]:
t1=(1,2,'a','b')
# del t1[0]
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

튜플 다루기
- 인덱싱하기

In [ ]:
t1=(1,2,'a','b')
t1[0]
t1[3]

'b'

슬라이싱 하기

In [ ]:
t1=(1,2,'a','b')
t1[1:]

t2=t1[1:]
print(t2)

(2, 'a', 'b')

튜플 더하기와 곱하기

In [ ]:
t2=(3,4)
t2*3

t1+t2

(1, 2, 'a', 'b', 3, 4)

튜플 길이 구하기: len() 함수

In [ ]:
t1=(1,2,'a','b')
len(t1)

4

튜플 적용하기
- 온라인 도서 주문 거래 명세서

In [ ]:
transaction1001=('파이썬 코딩 길잡이', '데이터베이스론', 'JAVA')
print("3월 1일 주문 송장:",transaction1001)

transaction1002 = ('요리비법', '영화평론', '해리포터')
print("3월 15일 주문 송장: ", transaction1002)

3월 1일 주문 송장: ('파이썬 코딩 길잡이', '데이터베이스론', 'JAVA')
3월 15일 주문 송장:  ('요리비법', '영화평론', '해리포터')

딕셔너리 자료형
Dictionary?
- 대응관계를 나타내는 자료형
- key 와 value를 한쌍으로 갖는 자료형
- 순차적으로 해당 요솟값을 구하지 않고, key 를 통해 value 를 구함.

key: 햄버거     value: 3000
key: 아이스크림  value: 1700



딕셔너리의 선언
{Key: Value1, Key:Value2, Key:Value3, Key:Value4, Key:Value5...}
- Key와 Value의 쌍 여러개
- {중괄호} 로 둘러싸임
- 각 요소는 쉼표로 구분됨.

In [ ]:
dic = {'name':'pey', 'age':'25', 'birth':'0328'}
a={1:'hi'}
a={'a':[1,2,3]}

딕셔너리 쌍 추가하기

In [ ]:
a={1:'a'}
a[2]='b'
print(a)

a['name']='pey'
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}

딕셔너리 쌍 삭제하기

In [ ]:
del a[1]
print(a)

{2: 'b', 'name': 'pey'}

딕셔너리에 Key를 사용해 Value 를 얻기

In [ ]:
score = {'pey': 40, 'juliet':99, 'tom': 70}
score['pey']
score['tom']

70

리스트나 튜플, 문자열은 요솟값 접근시 인덱싱이나 슬라이싱 기법을 적용
딕셔너리는 key를 사용해 value를 접근

딕셔너리 관련함수
- keys()
- key 만을 모아서 dic_keys 객체 반환

In [ ]:
a={'name':'pey','phone':'01022223333', 'birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

dict_keys 객체를 리스트로 변환하는 방법

In [ ]:
list(a.keys())

['name', 'phone', 'birth']

- values()
- value 만을 모아서 dict_values 객체 변환

In [ ]:
a.values()

dict_values(['pey', '01022223333', '1118'])

items()
- key와 value와 쌍을 튜플로 묶은 값을 모아서 dic_items 객체 반환

In [ ]:
a.items()
list(a.items())

dict_items([('name', 'pey'), ('phone', '01022223333'), ('birth', '1118')])

clear()
- 딕셔너리 내의 모든 요소 삭제
- 빈 딕셔너리는 {} 로 표현

In [ ]:
a.clear()
a

{}

in 
- key 가 딕셔너리 안에 있는지 조사
- key 딕셔너리 안에 존재하면 True, 존재하지 않으면 False 를 반환

In [ ]:
a={'name':'pey','phone':'01022223333', 'birth':'1118'}
print('name' in a)
print('email' in a)
print('email' not in a )

True
False
True

get()
- key에 대응되는 value 를 반환
- 존재하지 않는 키 사용시 None 반환

In [ ]:
a={'name':'pey', 'phone':'01022223333', 'birth':'1118'}
print(a.get('name'))

print(a.get('phone'))

print(a.get('nokey'))

pey
01022223333
None

**튜플 자료형의 정의**

In [ ]:

t1 = ()
t2 = (1.)
t3 = (1, 2, 3)
t4 = 1, 2, 3

print(t1,t2,t3,t4)

() 1.0 (1, 2, 3) (1, 2, 3)

**튜플 데이터 삭제를 시도한다면?**

In [ ]:
t1 = (1,2,'a','b')
del t1[0]   # 에러 발생!

TypeError: ignored

**튜플 값에 변경을 시도한다면?**

In [ ]:
t1 = (1,2,'a','b')
t1[0] = 'c'

TypeError: ignored

**인덱싱 다루기**

In [ ]:
t1 = (1,2,'a','b')
t1[0]

1

**슬라이싱 하기**

In [ ]:
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

**튜플 더하기와 곱하기**

In [ ]:
t2 = (3, 4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

**튜플 길이 구하기**

In [ ]:
t1 = (1,2,'a','b')
len(t1)

4

**튜플을 적용하여 온라인 거래 명세서 만들기**

In [ ]:
transaction1001 = ("파이썬 코딩 길잡이", "데이터베이스론", "JAVA")
print("3월 1일 주문 송장 : ", transaction1001)

transaction1002 = ("요리비법", "영화평론", "헤리포터")
print("3월 15일 주문 송장 : ", transaction1002)

3월 1일 주문 송장 :  ('파이썬 코딩 길잡이', '데이터베이스론', 'JAVA')
3월 15일 주문 송장 :  ('요리비법', '영화평론', '헤리포터')

# 딕셔너리

**딕셔너리의 선언**

In [ ]:
dic = {'name':'pey', 'age':'25','birth':'0328'}
print(dic)
a = {1:'hi'}
print(a)
b = {'a':[1,2,3]}
print(b)

{'name': 'pey', 'age': '25', 'birth': '0328'}
{1: 'hi'}
{'a': [1, 2, 3]}

**딕셔너리 쌍 추가하기**

In [ ]:
a = {1: 'a'}
a['a'] = 'b'
print(a)

a['name'] = 'pey'
print(a)

{1: 'a', 'a': 'b'}
{1: 'a', 'a': 'b', 'name': 'pey'}

**딕셔너리 key 값이 1인것을 찾아 삭제**

In [ ]:
del a[1]
print(a)

{'a': 'b', 'name': 'pey'}

**딕셔너리에서 key 를 사용해 value 얻기**

In [ ]:
score = {'pey': 40, 'juliet': 99, 'tom': 70}
print(score['pey'])
print(score['tom'])

40
70

**딕셔너리 관련 함수**

In [ ]:
a = {'name': 'pey', 'phone': '01022223333', 'birth':'1118'}     # key 만을 모아서 dict_keys 객체로 반환
print(a.keys())

list(a.keys())  # key를 모아서 리스트로 변환

dict_keys(['name', 'phone', 'birth'])

['name', 'phone', 'birth']

In [ ]:
a.values()    # value 만을 모아서 dict_value 객체로 반환

dict_values(['pey', '01022223333', '1118'])

In [ ]:
a.items()     # key와 value 쌍을 튜플로 묶은 값을 모아서 idc_items 객체로 반환환

dict_items([('name', 'pey'), ('phone', '01022223333'), ('birth', '1118')])

In [ ]:
a.clear()     # 딕셔너리 요소를 모두 삭제.clear()     # 딕셔너리 요소를 모두 삭제
print(a)

{}

<strong> key 가 딕셔너리 안에 있는지 조사  
key가 딕셔너리 안에 존재하면 True, 존재하지 않으면 False를 반환 </strong>

In [ ]:
a = {'name': 'pey', 'phone': '01022223333', 'birth':'1118'}   

print('name' in a)

print('email' in a)

print('email' not in a)

True
False
True

**key 에 대응되는 value를 반환**

In [ ]:
print(a.get('name'))
print(a.get('phone'))

pey
01022223333

# 집합 자료형

집합(set)이란?
- 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
- 파이썬 2.3 부터 지원


Set 키워드를 사용하여 생성

In [ ]:
s1=set([1,2,3])
s1

{1, 2, 3}

set()에 문자열을 입력하여 생성

In [ ]:
s2=set("Hello")
s2

{'H', 'e', 'l', 'o'}

집합(set)의 특징
- 중복을 허용하지 않음
- 순서가 없음(Unordered)
: 리스트나 튜플은 순서가 있기 때문에 인덱싱을 통해 자료형의 값을 얻지만 set 자료형은 순서가 없기 때문에 인덱싱 사용 불가(딕셔너리와 유사)

Unordered
인덱싱 사용을 원할경우 리스트나 튜플로 변환하여 사용할수 있음

In [ ]:
t1=tuple(s1)
t1

(1, 2, 3)

In [ ]:
s1=set([1,2,3])
l1= list(s1)
l1
l1[0]

1

- Set 자료형의 정의

In [ ]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

s1&s2

{4, 5, 6}

In [ ]:
s1.intersection(s2)

{4, 5, 6}

합집합 | 기호나 union() 함수 사용

In [ ]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

차집합
'-'기호나 difference() 함수 사용

In [ ]:
s1-s2

{1, 2, 3}

In [ ]:
s1.difference(s2)

{1, 2, 3}

In [ ]:
s2-s1

{7, 8, 9}

In [ ]:
s2.difference(s1)

{7, 8, 9}

add()
이미 만들어진 set 자료형에 값 추가

In [ ]:
s1=set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

remove()
특정값을 제거

In [ ]:
s1=set([1,2,3])
s1.remove(2)
s1

{1, 3}

update() 
여러개의 값을 한꺼번에 추가

In [ ]:
s1=set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

불 자료형
불이란?(Bool)
True, False 를 나타내는 자료형
a=True
b=False

type() 함수를 사용하여 자료형 확인

In [ ]:
a=True
b=False 
type(a)
type(b)

bool

조건문의 반환값으로도 사용됨
1==1

자료형에서 표현되는 참, 거짓정보


자료형      값          참 or 거짓
문자열      pythons         참
            **            거짓
-----------------------------------
리스트      [1,2,3]         참
            []            거짓
-----------------------------------
튜플         ()            거짓
-----------------------------------
딕셔너리      {}            거짓
-----------------------------------
숫자형      0이아닌 숫자       참
            0             거짓
-----------------------------------
            None          거짓

bool()함수
- 자료형의 참/거짓을 식별하는 내장함수
문자열의 참/거짓
- 'python' 문자열은 빈 문자열이 아니므로 bool 연산의 결과로 True를 반환

In [ ]:
bool('python')

True

''문자열은 빈 문자열이므로 bool연산의 결과로 false를 반환

In [ ]:
bool('')

False

리스트, 숫자의 참/거짓

In [ ]:
print(bool([1,2,3]))
print(bool([]))
print(bool(0))
print(bool(3))

True
False
False
True

**자료형 실습**

In [ ]:
t1=()
print(t1)
print(type(t1))
t2=(1,)
print(type(t2))
t3=(1,2,3)
t4=1,2,3
print(t1,t2,t3,t4)

()
<class 'tuple'>
<class 'tuple'>
() (1,) (1, 2, 3) (1, 2, 3)

In [ ]:
t1=(1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1[0]

1

In [ ]:
t1[1:]

(2, 'a', 'b')

In [ ]:
t2=(3,4)
print(t1+t2)

(1, 2, 'a', 'b', 3, 4)

In [ ]:
len(t1)

4

In [ ]:
dic = {'name': 'pen', 'age':'25', 'birth':'0328'}
a={1: 'hi'}
b={'a':[1,2,3], 2: 'CUK'}
print(b)

{'a': [1, 2, 3], 2: 'CUK'}

In [ ]:
a['a']='b'
print(a)
a['name']='pey'
print(a)

{1: 'hi', 'a': 'b', 'name': 'pey'}
{1: 'hi', 'a': 'b', 'name': 'pey'}

In [ ]:
del a[1]
print(a)

{'a': 'b', 'name': 'pey'}

In [ ]:
age={'pey':40, 'juliet': 60, 'tom':90}
print(age.get('pey'))

40

In [ ]:
a={'name':'pey', 'phone':'01012223333', 'birth':'1118'}
print(a.keys())

b=list(a.keys())
print(b)
type(b)

dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']

list

**집합의 선언**

In [ ]:
s1 = set([1,2,3])
s1

{1, 2, 3}

**문자열을 입력하여 집합 선언**

In [ ]:
s2 = set("apple")
s2

{'a', 'e', 'l', 'p'}

**집합 자료형의 연산**

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2)   # 교집합
print(s1 | s2)   # 합집합
print(s1 - s2)   # 차집합

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

**집합 관련 함수**

In [ ]:
s1 = set([1, 2, 3])

s1.add(4)     # set 자료형에 요소 추가
print(s1)
s1.remove(2) # set 자료형에 요소 삭제
print(s1)
s1.update([5,6,7])   # set 자료형에 여러 요소 추가
print(s1)

{1, 2, 3, 4}
{1, 3, 4}
{1, 3, 4, 5, 6, 7}

# 불 자료형

In [ ]:
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

**불 자료형은 데이터가 비어있는 변수에 0을 반환, 값이 있으면 1을 반환함**

In [ ]:
print(bool("python"))
print(bool(""))

True
False

# 실습예제

<strong> **텍스트 데이터 전처리**<br>다양한 데이터 소스로 부터 주소를 받아 표현할때 몇가지의 경우로 서울을 표현하는지 알아보기 </strong>

문자열 합치기

In [ ]:
addr1_str="서울시 서울특별시 seoul"
addr2_str="서울 Seoul 서울-특별시"
addr3_str= "서울 서울-시"

In [ ]:
addr_str = addr1_str +" "+ addr2_str + " " + addr3_str

In [ ]:
print(addr_str)   # 합친 문자 확인

addr_str=addr_str.lower()

print(addr_str)

서울시 서울특별시 seoul 서울 Seoul 서울-특별시 서울 서울-시
서울시 서울특별시 seoul 서울 seoul 서울-특별시 서울 서울-시

In [ ]:
addr_list=addr_str.split()
print(addr_list)


print(set(addr_list))   # 중복 문자열 제거

print("서울을 지칭하는 텍스트의 종류 - ",len(addr_list))

['서울시', '서울특별시', 'seoul', '서울', 'seoul', '서울-특별시', '서울', '서울-시']
{'서울-특별시', '서울시', '서울특별시', '서울', 'seoul', '서울-시'}
서울을 지칭하는 텍스트의 종류 -  8